#navbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#sidebar {
    margin: 10;
    color: #000000;
}

#sidebarTitle {
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    color: #000000;
}
